/* Footer */
.app-footer {
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  margin-top: 2rem;
}

.github-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 440px) {
  .github-links {
    flex-direction: row;
    gap: 1.5rem;
  }
}

.github-btn {
  align-items: center;
  background: hsl(0deg 0% 93.33%);
  border: 1px solid rgb(77 161 255 / 64%);
  border-radius: 0.75rem;
  color: var(--text-secondary);
  display: flex;
  font-size: 0.75rem;
  font-weight: 700;
  gap: 0.5rem;
  padding: 0.625rem 1rem;
  text-decoration: none;
  transition: all 0.2s;
  z-index: 10;
}

.github-btn:hover {
  background: rgba(255, 255, 255, 1);
  color: var(--text-primary);
  box-shadow: 0 4px 6px -1px var(--shadow-color);
}

.footer-info {
  opacity: 0.6;
}

.footer-copyright {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
}

.footer-disclaimer {
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.dark .github-btn {
  background: rgb(11, 15, 22);
}

.dark .github-btn:hover {
  background: rgba(31, 41, 59, 0.8);
  color: white;
}