/* Typography */

body {
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.text--xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text--sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text--base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text--lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text--xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text--2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font--mono {
  font-family: var(--font-mono);
}

.font--bold {
  font-weight: 700;
}

.font--semibold {
  font-weight: 600;
}

.font--medium {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.tracking--wide {
  letter-spacing: 0.025em;
}

.tracking--wider {
  letter-spacing: 0.05em;
}

.tracking--widest {
  letter-spacing: 0.1em;
}
